@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
    background:  linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url("/img2.jpg");
    background-color:#111 ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    

}